# PyInstaller (EXE)
dist/
build/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# IDEs
.vscode/
.idea/

# Local data (if exists)
database.json
settings.json
gns3_server.ini
